.container {
  margin-top: 40px;
  //background-color: #f4d9d9;
  position: relative;
  bottom: 0px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  opacity: 0.9;
}

::ng-deep .mat-tooltip {
  width: 400px;
  background: rgb(202, 8, 24);
  font-size: 20px;
  text-align: center;
}
