<section>
  <div class="above">
    <h1>{{ bucketbrowser }}</h1>
    <div
      class="tooltip"
      matTooltip="Maximum number of buckets has been reached!"
      matTooltipPosition="above"
      matTooltipHideDelay="100"
      [matTooltipDisabled]="!maxBuckets()"
    >
      <button
        mat-raised-button
        color="primary"
        [disabled]="maxBuckets()"
        (click)="onAddBucket()"
      >
        <mat-icon>library_add</mat-icon> Add new Bucket
      </button>
    </div>
  </div>
  <div class="container">
    <app-Bucket
      *ngFor="let bucket of buckets"
      [bucket]="bucket"
      (onDeleteBucket)="deleteBucket($event)"
    >
    </app-Bucket>
  </div>
</section>
