.container{
    background-color: #f4d9d9;
    position: relative;
    border-radius: 40px;
    bottom: 0px;
    display: flex;
    flex-wrap: wrap;
    align-content:flex-start;
    flex-direction: column;
    font-size: 30px;  
    font-weight: 500;
    padding: 30px;
}

.statistic-list {
    display: flex;
    gap: 20px;
}