.container{
    width: 300px;
    height: 600px;    
    border-radius: 20px;
    margin-left: 145px;
    display: flex;
    align-items: flex-start;  
     
}

.task-state-name{
    font-size: 40px;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 20px;
}