.container{
    height: 650px;
    background-color: #f4d9d9;
    position: relative;
    border-radius: 40px;
    bottom: 0px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    opacity: 0.9;
}

.above{
    margin-left: 30px;
    display: flex;
    gap: 700px;
}

button{
    font-size: 20px;
    width: 250px;
    height: 60px;    
    border-color: rgb(30, 30, 43);
    border-width: 6px;
    border-radius: 10px;
  }

  ::ng-deep .mat-tooltip{
    width: 400px;  
    background: rgb(202, 8, 24);
    font-size: 20px;
    text-align: center;
  }