<section
  class="container"
  [ngStyle]="{ 'background-color': bucketModel?.color }"
>
  <div class="header">
    <app-bucket-header [bucketModel]="bucketModel"></app-bucket-header>
  </div>
  <div>
    <mat-slide-toggle class="custom-slide-toggle" (change)="toggleView()"
    >Pie chart</mat-slide-toggle
  >
  </div>
  <ng-container>
    <app-statistics-list [statistics]="statistics"></app-statistics-list>
    <app-statistics-chart
        [statistics]="statistics"
        *ngIf="showChart"
      ></app-statistics-chart>
  </ng-container>


  <div class="buttons">
    <div class="left-buttons">
      <button
        class="homebutton"
        [routerLink]="['']"
        [ngStyle]="{ 'background-color': bucketModel?.color }"
        mat-raised-button
      >
        <mat-icon>home</mat-icon>
      </button>
    </div>
    <div class="right-buttons">
      <button
        class="editbutton"
        [ngStyle]="{ 'background-color': bucketModel?.color }"
        mat-raised-button
        (click)="onEditBucket()"
      >
        <mat-icon>edit</mat-icon>Edit
      </button>
      <button
        class="deletebutton"
        [ngStyle]="{ 'background-color': bucketModel?.color }"
        mat-raised-button
        (click)="onDelete()"
      >
        <mat-icon>delete</mat-icon>Delete
      </button>
    </div>
  </div>

  <div class="bottom">
    <app-task-list
      [taskState]="statistics"
      [bucketId]="id"
      [bucketModel]="bucketModel"
      (bucketAddTask)="handleBucketAddTask($event)"
    ></app-task-list>
  </div>
</section>
