/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background-color: #9fa0ff;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-dialog-container {
  display: block;
  background-color: rgb(1, 2, 2);
  padding: 24px;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: auto;
  outline: 0;
  width: 100%;
  height: 100%;
  min-height: inherit;
  max-height: inherit;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #9fa0ff !important; /* Ustawienie tła pola input na taki sam kolor jak reszta formularza */
  color: #000000; /* Kolor tekstu wewnątrz pola input */
  border-radius: 20px; /* Dodanie zaokrąglonych rogów */
  border: 2px solid #000000;
}

.mat-mdc-dialog-surface {
  border-radius: 20px !important;
  background-color: #9fa0ff !important;
  overflow: hidden;
  box-shadow: none;
  width: 100%;
}

.mat-mdc-select-panel {
  background-color: #9fa0ff !important;
  border: 2px solid #000000 !important;
  border-radius: 20px !important;
}

.mat-mdc-slide-toggle .mat-internal-form-field {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
  font-size: 30px !important;
  font-weight: 900 !important;
  text-shadow: 5px 5px 5px #565657 !important;
  color: #0dc91d !important;
  -webkit-text-stroke: 2px #000000 !important;
  font-style: italic !important;
}

.mdc-switch {
  width: 50px !important;
}

.mdc-switch__track {
  height: 25px !important;
  border-radius: 25px !important;
  border-style: solid !important;
  border-color: #000000 !important;
}

.mdc-switch__handle-track {


     left: 10% !important;
   width: calc(80% - var(--mdc-switch-handle-width)) !important;
}

html .mat-mdc-slide-toggle.mat-accent {
  --mdc-switch-selected-focus-state-layer-color: #1dac00 !important;
  --mdc-switch-selected-handle-color: #1dac00 !important;
  --mdc-switch-selected-hover-state-layer-color: #1dac00 !important;
  --mdc-switch-selected-pressed-state-layer-color: #1dac00 !important;
  --mdc-switch-selected-focus-handle-color: #00857e !important;
  --mdc-switch-selected-hover-handle-color: #00857e !important;
  --mdc-switch-selected-pressed-handle-color: #00857e !important;
  --mdc-switch-selected-focus-track-color: #84f784 !important;
  --mdc-switch-selected-hover-track-color: #84f784 !important;
  --mdc-switch-selected-pressed-track-color: #84f784 !important;
  --mdc-switch-selected-track-color: #84f784 !important;
}
