.container {
  max-width: 100%;
  height: 100%;
  border-radius: 40px;
  display: grid;
  align-items: flex-end;
  opacity: 0.9;
}

.mat-mdc-slide-toggle {
  margin-bottom: 10px;
  margin-left: 2%;
}
