<section class="container">
  <app-header [header]="header"></app-header>

  <!-- Przycisk przełączania widoków -->
  <button (click)="toggleView()">Toggle View</button>

  <!-- Wyświetlanie listy lub wykresu w zależności od przełącznika -->
  <ng-container *ngIf="!showChart; else chartView">
    <app-statistics-list [statistics]="statistics"></app-statistics-list>
  </ng-container>

  <ng-template #chartView>
    <app-statistics-chart [statistics]="statistics"></app-statistics-chart>
  </ng-template>

  <app-bucket-list></app-bucket-list>
</section>
