.container {
  width: 96vw;
  height: 100%;
  //background-color: #f4d9d9;
  position: relative;
  border-radius: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 równe kolumny */
  gap: 20px; /* Odstępy między kolumnami */
  padding-top: 40px;
  padding-bottom: 40px;
  //padding: 20px; /* Padding wewnętrzny kontenera */
  box-sizing: border-box; /* Uwzględnij padding w szerokości kontenera */
}

 button {
  font-size: 20px;
  width: 250px;
  height: 60px;
  border-radius: 10px;
  margin-bottom: 50px;
}

.tooltip{
  margin-left: 557px
}
