.container{
    // width: 250px;
    // height: 100px;
    padding: 10px;
    position: relative;
    display: flex; 
    flex-wrap: wrap; 
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.round{
    width: 20px;
    height: 20px;
    background-color: yellow;
    border-radius: 20px;    
    font-size: 20px;
}

.name{
    font-size: 20px;
}
